* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     font-family: 'Poppins';
     color: rgb(236, 255, 243);
}

.carousel {
     width: 800px;
     margin: 100px auto;
     background-color: rgb(23, 53, 37);
     padding: 32px;
     padding-left: 90px;
     border-radius: 10px;
     display: flex;
     align-items: center;
     gap: 90px;
     position: relative;

}

.img {
     height: 235px;
     border-radius: 10px;
     transform: scale(1.5);
     box-shadow: 0 0 32px rgb(0, 0, 0, 0.25);
}

.test-text {
     font-size: 18px;
     font-weight: 400;
     line-height: 1.5;
     margin-bottom: 32px;
}

.author {
     font-size: 14px;
     color: rgb(216, 232, 222);
     font-weight: 500;
     margin-bottom: 4px;
}

.position {
     font-size: 12px;
     font-style: italic;
     color: rgb(193, 201, 196);
}

.btn {
     background-color: rgb(236, 255, 243);
     border: none;
     height: 40px;
     width: 40px;
     position: absolute;
     border-radius: 60px;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 0 0 24px rgb(0, 0, 0, 0.25);
}

.icon {
     height: 24px;
     width: 24px;
     stroke: rgb(23, 53, 37);
}

.left {
     left: 0;
     top: 50%;
     transform: translate(-50%, -50%);

}

.right {
     right: 0;
     top: 50%;
     transform: translate(50%, -50%);
}